<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="upload_extensions"
			type="text"
			size="50"
			default="mp3,mp4,ogg,webm,wav,flv"
			label="COM_TZ_MEDIA_FIELD_LEGAL_EXTENSIONS_LABEL"
			description="COM_TZ_MEDIA_FIELD_LEGAL_EXTENSIONS_DESC" />

		<field
			name="upload_maxsize"
			type="text"
			size="50"
			default="10"
			label="COM_TZ_MEDIA_FIELD_MAXIMUM_SIZE_LABEL"
			description="COM_TZ_MEDIA_FIELD_MAXIMUM_SIZE_DESC" />
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_tz_media"
			section="component" />
	</fieldset>
</config>
